{% extends "base.html" %}
{% block content %}

<!-- Header and brief description -->
<div class="page-header" id="app_intro">
    <h1>Examples</h1>
</div>

<!-- Examples organized in a table-->
<div class="table-responsive">
<table id="results_table" class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Original</th>
      <th>K-Means</th>
      <th>Mean Shift</th>
      <th>Thresholding</th>
      <th>Grab Cut</th>
      <th>Hybrid</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/1/original.jpg" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/1/kmeans.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/1/meanshift.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/1/thresholding.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/1/graphcut.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/1/hybrid.png" /></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/2/original.jpg" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/2/kmeans.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/2/meanshift.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/2/thresholding.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/2/graphcut.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/2/hybrid.png" /></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/3/original.jpg" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/3/kmeans.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/3/meanshift.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/3/thresholding.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/3/graphcut.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/3/hybrid.png" /></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/4/original.jpg" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/4/kmeans.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/4/meanshift.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/4/thresholding.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/4/graphcut.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/4/hybrid.png" /></td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/5/original.jpg" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/5/kmeans.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/5/meanshift.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/5/thresholding.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/5/graphcut.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/5/hybrid.png" /></td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/6/original.jpg" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/6/kmeans.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/6/meanshift.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/6/thresholding.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/6/graphcut.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/6/hybrid.png" /></td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/7/original.jpg" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/7/kmeans.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/7/meanshift.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/7/thresholding.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/7/graphcut.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/7/hybrid.png" /></td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/8/original.jpg" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/8/kmeans.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/8/meanshift.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/8/thresholding.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/8/graphcut.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/8/hybrid.png" /></td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/9/original.jpg" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/9/kmeans.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/9/meanshift.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/9/thresholding.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/9/graphcut.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/9/hybrid.png" /></td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/10/original.jpg" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/10/kmeans.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/10/meanshift.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/10/thresholding.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/10/graphcut.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/10/hybrid.png" /></td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/11/original.jpg" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/11/kmeans.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/11/meanshift.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/11/thresholding.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/11/graphcut.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/11/hybrid.png" /></td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/12/original.jpg" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/12/kmeans.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/12/meanshift.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/12/thresholding.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/12/graphcut.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/12/hybrid.png" /></td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/13/original.jpg" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/13/kmeans.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/13/meanshift.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/13/thresholding.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/13/graphcut.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/13/hybrid.png" /></td>
    </tr>
    <tr>
      <th scope="row">14</th>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/14/original.jpg" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/14/kmeans.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/14/meanshift.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/14/thresholding.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/14/graphcut.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/14/hybrid.png" /></td>
    </tr>
    <tr>
      <th scope="row">15</th>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/15/original.jpg" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/15/kmeans.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/15/meanshift.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/15/thresholding.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/15/graphcut.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/15/hybrid.png" /></td>
    </tr>
    <tr>
      <th scope="row">16</th>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/16/original.jpg" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/16/kmeans.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/16/meanshift.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/16/thresholding.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/16/graphcut.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/16/hybrid.png" /></td>
    </tr>
    <tr>
      <th scope="row">17</th>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/17/original.jpg" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/17/kmeans.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/17/meanshift.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/17/thresholding.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/17/graphcut.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/17/hybrid.png" /></td>
    </tr>
    <tr>
      <th scope="row">18</th>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/18/original.jpg" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/18/kmeans.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/18/meanshift.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/18/thresholding.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/18/graphcut.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/18/hybrid.png" /></td>
    </tr>
    <tr>
      <th scope="row">19</th>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/19/original.jpg" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/19/kmeans.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/19/meanshift.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/19/thresholding.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/19/graphcut.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/19/hybrid.png" /></td>
    </tr>
    <tr>
      <th scope="row">20</th>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/20/original.jpg" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/20/kmeans.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/20/meanshift.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/20/thresholding.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/20/graphcut.png" /></td>
      <td><img src="http://imagesegmentation.pythonanywhere.com/static/examples/20/hybrid.png" /></td>
    </tr>
  </tbody>
</table>
</div>



{% endblock %}