{% extends "base.html" %}
{% block content %}

<!-- Header and brief description -->
<div class="page-header" id="app_intro">
    <h1>Examples</h1>
</div>

<!-- Examples organized in a table-->
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Original</th>
      <th>K-Means</th>
      <th>Mean Shift</th>
      <th>Thresholding</th>
      <th>Graph Cut</th>
      <th>Hybrid</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>

<p>
    Comments here
</p>


{% endblock %}