{% extends "base.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->

    <!-- Header and brief description -->
    <div id="app">
    <div class="page-header" id="app_intro">
        <h1>Try it out!</h1>
    </div>
    <p>
        Upload an image below to see how it is segmented by several different algorithms: k-means clustering, thresholding, and graph cut.
    </p>

    <!-- Upload an image and start algorithms -->
    <div class="panel panel-primary" id="app">
        <div class="panel-heading">
            <h3 class="panel-title">Upload an image</h3>
        </div>
        <div class="panel-body">

            <form role="form" method="post">
            <div class="input-group" style="margin: auto; width: 100%;">
                <div class="panel-body-left-half">
                    <img id="imgUploaded" style="width: 300px; height: 300px; margin: auto; display: block;" class="img-thumbnail" />
                </div>

                <div class="panel-body-left-half">

                    <div class="fileUpload btn btn-primary btn-lg" style="margin: auto; display: block; width: 60%">
                        <span>Upload</span>
                        <input type="file" id="imgupload" name="file" accept=".png, .jpg, .jpeg" class="upload" />
                    </div>
                    <br/>
                    <button id="processbutton" name="processbutton" disabled="disabled" class="btn btn-lg btn-secondary" type="button" style="margin: auto; display: block; width: 60%">Segment image</button>


                    <div>
                            <br/>
                            <b><p>Settings</p></b>
                            <i>Algorithms:</i><br/>
                            <input type="checkbox" name="alg1" id="alg1" value="K-Means" checked="checked"> K-Means&nbsp;
                            <input type="checkbox" name="alg2" id="alg2" value="Mean Shift" checked="checked">Mean Shift&nbsp;
                            <input type="checkbox" name="alg3" id="alg3" value="Thresholding" checked="checked">Thresholding&nbsp;
                            <input type="checkbox" name="alg4" id="alg4" value="Graph Cut" checked="checked">Graph Cut&nbsp;
                            <input type="checkbox" name="alg5" id="alg5" value="Hybrid" checked="checked">Hybrid
                            <br/><br/>
                            <i># of colors (2-6):</i>
                            <input type="range" name="value_k" id="value_k_slider" min="2" max="6" value="3" step="1" list="steplist">
                            <datalist id="steplist">
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                            </datalist>
                    </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>

    <!-- Progress bars (hidden by default) -->
    <div id="progress_bars" style="display: none;">
        <h3>Progress</h3>
        <!-- In progress or successful -->
        <div class="progress">
            <div id="progress_bar" class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0% Complete</div>
        </div>
        <!-- If error occurs -->
        <div class="progress has-error" style="display: none;">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0% Complete (danger)</div>
        </div>
    </div>

    <!-- Results panel (hidden by default) -->
    <div id="app_results" style="display: none;">
        <!-- Header and brief description -->
        <div class="page-header" id="results_intro">
            <h2>Results</h2>
        </div>
        <p>
            Blurb about results, stats?
        </p>

        <!-- First row of results -->
        <div class="row">
            <div class="col-lg-6">
                <!-- K-means clustering -->
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">K-Means Clustering</h3>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body-left">
                            <img id="kmeans_img" style="margin: auto; display: block;" class="img-thumbnail" />
                        </div>
                        <div class="panel-body-right">
                            <p><b>Type:</b> Clustering</p>
                            <div id="kmeans_time"></div>
                            <div id="kmeans_parameters"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Mean Shift -->
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Mean Shift</h3>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body-left">
                            <img id="meanshift_img" style="margin: auto; display: block;" class="img-thumbnail" />
                        </div>
                        <div class="panel-body-right">
                            <p><b>Type:</b> Clustering</p>
                            <div id="meanshift_time"></div>
                            <div id="meanshift_parameters"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Thresholding -->
            <div class="col-lg-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Thresholding</h3>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body-left">
                            <img id="thresholding_img" style="margin: auto; display: block;" class="img-thumbnail" />
                        </div>
                        <div class="panel-body-right">
                            <p><b>Type:</b> Intensity based</p>
                            <div id="thresholding_time"></div>
                            <div id="thresholding_parameters"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->

        <!-- Second row of results -->
        <div class="row">
            <div class="col-lg-6">
                <!-- Graph -->
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Graph Cut</h3>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body-left">
                            <img id="graphcut_img" style="margin: auto; display: block;" class="img-thumbnail" />
                        </div>
                        <div class="panel-body-right">
                            <p><b>Type:</b> Graph</p>
                            <div id="graphcut_time"></div>
                            <div id="graphcut_parameters"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hybrid -->
            <div class="col-lg-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Hybrid (Clustering + Threshold)</h3>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body-left">
                            <img id="hybrid_img" style="margin: auto; display: block;" class="img-thumbnail" />
                        </div>
                        <div class="panel-body-right">
                            <p><b>Type:</b> Hybrid</p>
                            <div id="hybrid_time"></div>
                            <div id="hybrid_parameters"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->

        <!-- button to try another image -->
        <button id="restart_segmentation" type="button" class="btn btn-lg btn-default">Segment another image</button>

    </div> <!-- end app results -->


    <!-- Footnotes -->
    <div class="page-footer" id="footer">
    </div>
{% endblock %}