{% extends "base.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Image Segmentation</h1>
        <p>Divide an image into <i>regions</i> or <i>categories</i> which correspond to different objects or parts of objects [1]</p>
    </div>

    <!-- Header and brief description -->
    <div class="page-header" id="app_intro">
        <h1>Try it out!</h1>
    </div>
    <p>
        Upload an image below to see how it is segmented by several different algorithms: k-means clustering, thresholding, and graph cut.
    </p>

    <!-- Upload an image and start algorithms -->
    <div class="panel panel-primary" id="app">
        <div class="panel-heading">
            <h3 class="panel-title">Upload an image</h3>
        </div>
        <div class="panel-body">
            <div class="container">
                <!-- Image preview area -->
                <img src="./static/images/baboon.jpg" />
            </div>
            <div>
                <!-- Buttons -->
                <button type="button" class="btn btn-lg btn-default">Pick image</button> <button type="button" class="btn btn-lg btn-primary">Segment</button>
            </div>
        </div>
    </div>

    <!-- Progress bars (hide by default) -->
    <div id="progress_bars">
        <h3>Progress</h3>
        <!-- In progress or successful -->
        <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"><span class="sr-only">60% Complete</span></div>
        </div>
        <!-- If error occurs -->
        <div class="progress has-error">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"><span class="sr-only">80% Complete (danger)</span></div>
        </div>
    </div>

    <!-- Results panel (hide by default) -->
    <div id="app_results">
        <!-- Header and brief description -->
        <div class="page-header" id="results_intro">
            <h2>Results</h2>
        </div>
        <p>
            Blurb about results, stats?
        </p>

        <!-- First row of results -->
        <div class="row">
            <div class="col-lg-6">
                <!-- K-means clustering -->
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">K-Means Clustering</h3>
                    </div>
                    <div class="panel-body">
                        <img src='./detect' />
                        Image, time
                    </div>
                </div>
            </div>
            <!-- Thresholding -->
            <div class="col-lg-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Thresholding</h3>
                    </div>
                    <div class="panel-body">
                        Image, time
                    </div>
                </div>
            </div>
        </div> <!-- end row -->

        <!-- Second row of results -->
        <div class="row">
            <div class="col-lg-6">
                <!-- Graph -->
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Graph</h3>
                    </div>
                    <div class="panel-body">
                        Image, time
                    </div>
                </div>
            </div>
            <!-- Hybrid -->
            <div class="col-lg-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Hybrid</h3>
                    </div>
                    <div class="panel-body">
                        Image, time
                    </div>
                </div>
            </div>
        </div> <!-- end row -->

        <!-- button to try another image -->
        <button type="button" class="btn btn-lg btn-default">Segment another image</button>

    </div> <!-- end app results -->


    <!-- Footnotes -->
    <div class="page-footer" id="footer">
        [1] http://www.bioss.ac.uk/people/chris/ch4.pdf
    </div>
{% endblock %}