{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    <h1>Image Segmentation</h1>
    <p>Divide an image into <i>regions</i> or <i>categories</i> which correspond to different objects or parts of objects [1]</p>
</div>

<!-- Header and brief description -->
<div class="page-header" id="app_intro">
    <h1>About image segmentation</h1>
</div>
<p>
    Image segmentation partitions an image into a set of regions or classes.
    It is a preprocessing step for a variety computer vision tasks, and it is used
    in face and object detection as well as medical image analysis.
</p>
<p>
    There are a variety of techniques depending on the task. Image segmentation is
    a challenging problem because each image will have different characteristics, and
    so it is difficult to predict which ones to leverage. For instance, images have a
    variety of intensities and textures.
</p>

<!-- Footnotes -->
<div class="page-footer" id="footer">
    <p>References:</p>
    <p>
        [1] http://www.bioss.ac.uk/people/chris/ch4.pdf
    </p>
</div>
{% endblock %}